<form asp-action="ImportAdvertisers" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import advertisers" />
</form>
<br />
<form asp-action="ImportUsers" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Users" />
</form>
<br />
<form asp-action="ImportBrands" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Brands" />
</form>
<br />
<form asp-action="ImportRealEstate" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Real Estate" />
</form>
<br />
<form asp-action="ImportClassifiedAd" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Classified Ads" />
</form>
<br />
<form asp-action="ImportService" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Services" />
</form>
<br />
<form asp-action="ImportMotorEquipment" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Motor Equipment" />
</form>
<br />
<form asp-action="ImportAccessoryEquipment" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Accessory Equipment" />
</form>
<br />
<form asp-action="CleanOtherEquipment" method="post" enctype="multipart/form-data">
    <input type="submit" value="Clean Other Equipment" />
</form>
<br />
<form asp-action="ImportOtherEquipement" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Other Equipment 2" />
    <input type="hidden" value="2" name="id" />
</form>
<br />
<form asp-action="ImportOtherEquipement" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Other Equipment 3" />
    <input type="hidden" value="3" name="id" />
</form>
<br />
<form asp-action="ImportOtherEquipement" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Other Equipment 4" />
    <input type="hidden" value="4" name="id" />
</form>
<br />
<form asp-action="ImportOtherEquipement" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Other Equipment 5" />
    <input type="hidden" value="5" name="id" />
</form>
<br />
<form asp-action="ImportOtherEquipement" method="post" enctype="multipart/form-data">
    <input type="submit" value="Import Other Equipment 6" />
    <input type="hidden" value="6" name="id" />
</form>
<br />