<section>
    <div class="row">
        <h1>RÉPERTOIRE DES ANNONCEURS ET DES CONCESSIONNAIRES</h1>
        <p>
            Trouvez tous les équipements et services agricoles que vous recherchez : vente, achat et réparation de machinerie neuve et usagée, construction, drainage, ensilage, excavation, labour, épandage et tout ce dont vous avez besoin pour la ferme, le poulailler, l'érablière ou autre.
        </p>
    </div>
    <div class="row">
        {{ Model.Content | shape_render }}
    </div>
</section>